<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>server-2</title>
    <script src="https://unpkg.com/petite-vue" defer init></script>
    <style>
      [v-cloak] {
        display: none;
      }
      table {
        margin-top: 1em;
      }
      table,
      td,
      th {
        border: solid 1px darkgreen;
        border-collapse: collapse;
      }
      th {
        background-color: darkgreen;
        color: white;
        border-color: white;
        padding: 0 5px;
      }
    </style>
  </head>

  <body v-cloak v-scope="dataset()">
    <h1>NHK番組表</h1>

    <button @click="getProgramList">番組表取得</button>

    <!-- データが取得できたときにdl要素を表示する -->
    <label
      >地域：
      <select v-model="area">
        <option value="130">東京</option>
        <option value="270">大阪</option>
      </select>
    </label>

    <label
      >チャンネル：
      <select v-model="service">
        <option value="g1">NHK 総合1</option>
        <option value="s1">NHK BS1</option>
        <option value="r3">NHK FM</option>
      </select>
    </label>

    <table>
      <tr>
        <th>時刻</th>
        <th>タイトル</th>
        <th>内容</th>
      </tr>
      <tr v-for="item in list">
        <td>{{formatTime(item)}}</td>
        <td>{{item.title}}</td>
        <td>{{item.subtitle}}</td>
      </tr>
    </table>
  </body>

  <script>
    function dataset() {
      return {
        list: false,
        area: "130",
        service: "g1",
        date: "2025-10-03",
        // 変数（プロパティ）
        async getProgramList() {
          const API_KEY = localStorage.getItem("API_KEY");
          const query = new URLSearchParams({
            key: API_KEY,
          });
          const url =
            `https://api.nhk.or.jp/v2/pg/list/${this.area}/${this.service}/${this.date}.json?` +
            query;

          const res = await fetch(url);
          const obj = await res.json();
          this.list = obj.list[this.service];
          console.log(JSON.stringify(this.list, null, 5));
        },
        formatTime(i) {
          const time = i.start_time.split("T");
          const time2 = time[1].split(":");
          return time2[0] + ":" + time2[1];
        },

        // 関数（メソッド）
      };
    }
  </script>
</html>
